<h2>Register</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label>Username:</label>
  <input type="text" formControlName="username"><br><br>

  <label>Password:</label>
  <input type="password" formControlName="password"><br><br>

  <label>Role (USER / ADMIN):</label>
  <input type="text" formControlName="role"><br><br>

  <button type="submit">Register</button>
</form>

<p *ngIf="successMessage" style="color: green;">{{ successMessage }}</p>
<p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
